body {
    position: relative;
    width: 180px;
    height: 280px;
    background: #FFFFFF;
}

#elementWindow {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 180px;
    height: 240px;
}

#elementWindow::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #8991ff46, #6375ff4d);
    border-radius: 5em;
}

#elementWindow::-webkit-scrollbar {
    /* webkit */
    width: 3px;
    /* ширина для вертикального скролла */
}

.buttonPosition {
    padding: 10px 0px 0px 7px;
}

.mainButton {
    font-family: sans-serif;
    display: block;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    width: 167px;
    height: 40px;
    font-size: 14px;
    /*Расстояние текст*/
    padding: 0px 10px;
    background: linear-gradient(to bottom, #D1D6FF, #D1D6FF);
    border-radius: 5px;
    white-space: nowrap;
    /*Отменяем перенос текста*/
    overflow: hidden;
    /*Обрезаем содержимое*/
    text-overflow: ellipsis;
} 

.divDataTimeButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataButton {
    font-size: 10px;
    padding: 4px 0px;
}

.timeButton {
    font-size: 10px;
}

#button {
    position: absolute;
    height: 40px;
    width: 180px;
    top: 240px;
}

#buttonAdd {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 6px;
    top: 8px;
    background: #D1D6FF;
    border-radius: 5px;
}

#pluseVertical {
    position: absolute;
    width: 3px;
    height: 19px;
    left: 11px;
    top: 3px;
    background: #8A90BE;
    border-radius: 5px;
}

#pluseHorizontal {
    position: absolute;
    width: 19px;
    height: 3px;
    left: 3px;
    top: 11px;
    background: #8A90BE;
    border-radius: 5px;
}

#buttonDelete {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 6px;
    top: 8px;
    background: #D1D6FF;
    border-radius: 5px;
}

#crossLeftRight {
    position: absolute;
    width: 3px;
    height: 23.45px;
    left: 11px;
    top: 1px;
    background: #C66A7B;
    border-radius: 5px;
    transform: rotate(-42deg);
}

#crossRightLeft {
    position: absolute;
    width: 3px;
    height: 23.45px;
    left: 11px;
    top: 1px;
    background: #C66A7B;
    border-radius: 5px;
    transform: rotate(42deg);
}